:root > * {
    --md-primary-fg-color:        #c32aff;
    --md-accent-fg-color: #FABD12;
    --md-default-fg-color--lightest: #f8f8f817;

}

.mermaid {
    width: 70%;
    display: block;
    margin: auto;

}

g {
    width: 50%;
    display: block;
    margin: auto;

}

.md-footer__inner:not([hidden]) {
    display: none;
}

[dir=ltr] .md-typeset blockquote {
    border-left: 0.2rem solid #9a7fe7;
    background-color: rgb(236, 236, 236);
    padding-top: 2px;
    padding-bottom: 2px;
}

.md-typeset blockquote {
    color: #d57e0b;
    margin-left: 0;
    margin-right: 0;
}

.md-header {

    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }


.md-typeset h1, .md-typeset h2 {
    letter-spacing: -.01em;
    font-family: 'Source Sans Pro', sans-serif;
}

.md-typeset h1 {
    font-weight: 300;
    color: #0000CD
    
}

.md-typeset h2 {
    font-weight: 300;
    color: 	#483D8B
}


h3 {
    color: #4B0082;
    font-family: 'Source Sans Pro', sans-serif;
  }  

.md-grid {
    margin-left: auto;
    margin-right: auto;
    max-width: 75rem;
}

.md-typeset code {
    color: #c7254e;
    background-color: #65494910;
    border-radius: 4px;
    padding: 2px 4px;
    font-size: 90%;
    font-weight: 1000;

}

.a {

    text-decoration: none;
    --tw-text-opacity: 1;
    color: rgba(85,83,255);

}
